/*DEFINE VARIABLES */
$memo-white: #fff;
$memo-dark: #212529;
/*Old colors*/
$memo-gray: #6c757d;
$memo-green: rgb(40, 167, 69);
$memo-yellow: #e0a800;
/*New colors*/
$memo-blue: #31363e;
$memo-magenta: #b92e52;
$memo-blush: #e4c6b8;